<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<div class="all_categories">
            <div class="menuleftText-title"><div class="menuleftText" ><span>所有分类</span></div></div>
        </div>
  <div class="menuleft"> 
   <div id="menu-default" class="mega-menu" style="display: block;"> 
    <div class="em_nav"> 
     <ul class="vnav "> 
      <li class="menu-item-link menu-item-depth-0 icon2 menu-item-parent"><a href="#" class="arrow"><span>&gt;</span></a> <a href="http://demo.emthemes.com/gala-electronues/index.php/apparel.html" shape="rect"> <span> <span class="icon-menu"> </span> 编程、设计、IT软件 </span> </a> 
       <ul class="menu-container" style="top: -2px;"> 
        <li class="menu-item-hbox menu-item-depth-1 grid_18 omega alpha menu-item-parent" style=""> 
         <ul class="menu-container"> 
          <li class="menu-item-vbox menu-item-depth-2 grid_3 alpha menu-item-parent" style=""> 
           <ul class="menu-container"> 
            <li class="menu-item-text menu-item-depth-3  "> <h5> 编程语言 </h5> 
             <ul> 
              <li> <a href="http://demo.emthemes.com/gala-electronues/index.php/apparel.html" shape="rect"> C/C++ </a> </li> 
              <li> <a href="http://demo.emthemes.com/gala-electronues/index.php/apparel.html" shape="rect"> JAVA </a> </li> 
              <li> <a href="http://demo.emthemes.com/gala-electronues/index.php/apparel.html" shape="rect"> Python </a> </li> 
              <li> <a href="http://demo.emthemes.com/gala-electronues/index.php/apparel.html" shape="rect"> PHP </a> </li> 
              <li> <a href="http://demo.emthemes.com/gala-electronues/index.php/apparel.html" shape="rect"> 脚本语言 </a> </li> 
              <li> <a href="http://demo.emthemes.com/gala-electronues/index.php/apparel.html" shape="rect"> Objective-C </a> </li> 
             </ul> <h5> 产品运营 </h5> 
             <ul> 
              <li> <a href="http://demo.emthemes.com/gala-electronues/index.php/apparel.html" shape="rect"> 产品设计 </a> </li> 
              <li> <a href="http://demo.emthemes.com/gala-electronues/index.php/apparel.html" shape="rect"> 网站编辑 </a> </li> 
              <li> <a href="http://demo.emthemes.com/gala-electronues/index.php/apparel.html" shape="rect"> 数据分析 </a> </li> 
              <li> <a href="http://demo.emthemes.com/gala-electronues/index.php/apparel.html" shape="rect"> 策划 </a> </li> 
             </ul> </li> 
            <!-- 3 --> 
           </ul> 
           <!-- 3 --> </li> 
          <!-- 2 --> 
          <li class="menu-item-vbox menu-item-depth-2 grid_3 menu-item-parent" style=""> 
           <ul class="menu-container"> 
            <li class="menu-item-text menu-item-depth-3  "> <h5> 常用软件 </h5> 
             <ul> 
              <li> <a href="http://demo.emthemes.com/gala-electronues/index.php/electronics.html" shape="rect"> Photoshop </a> </li> 
              <li> <a href="http://demo.emthemes.com/gala-electronues/index.php/electronics.html" shape="rect"> 3Dmax </a> </li> 
              <li> <a href="http://demo.emthemes.com/gala-electronues/index.php/electronics.html" shape="rect"> Illustrator </a> </li> 
              <li> <a href="http://demo.emthemes.com/gala-electronues/index.php/electronics.html" shape="rect"> Flash </a> </li> 
              <li> <a href="http://demo.emthemes.com/gala-electronues/index.php/electronics.html" shape="rect"> Dreamwaver </a> </li> 
              <li> <a href="http://demo.emthemes.com/gala-electronues/index.php/electronics.html" shape="rect"> Maya </a> </li> 
              <li> <a href="http://demo.emthemes.com/gala-electronues/index.php/electronics.html" shape="rect"> Axure </a> </li> 
             </ul> <h5> 其他 </h5> 
             <ul> 
              <li> <a href="http://demo.emthemes.com/gala-electronues/index.php/apparel.html" shape="rect"> 网络安全 </a> </li> 
              <li> <a href="http://demo.emthemes.com/gala-electronues/index.php/apparel.html" shape="rect"> 嵌入式培训 </a> </li> 
              <li> <a href="http://demo.emthemes.com/gala-electronues/index.php/apparel.html" shape="rect"> 移动通信 </a> </li> 
              <li> <a href="http://demo.emthemes.com/gala-electronues/index.php/apparel.html" shape="rect"> 云计算 </a> </li> 
              <li> <a href="http://demo.emthemes.com/gala-electronues/index.php/apparel.html" shape="rect"> 系统架构 </a> </li> 
             </ul> </li> 
            <!-- 3 --> 
           </ul> 
           <!-- 3 --> </li> 
          <!-- 2 --> 
          <li class="menu-item-vbox menu-item-depth-2 grid_3 omega menu-item-parent" style=""> 
           <ul class="menu-container"> 
            <li class="menu-item-text menu-item-depth-3  "> <h5> 设计制作 </h5> 
             <ul> 
              <li> <a href="http://demo.emthemes.com/gala-electronues/index.php/electronics.html" shape="rect"> 平面设计 </a> </li> 
              <li> <a href="http://demo.emthemes.com/gala-electronues/index.php/electronics.html" shape="rect"> 网站制作 </a> </li> 
              <li> <a href="http://demo.emthemes.com/gala-electronues/index.php/electronics.html" shape="rect"> 页面设计 </a> </li> 
              <li> <a href="http://demo.emthemes.com/gala-electronues/index.php/electronics.html" shape="rect"> 三维设计 </a> </li> 
              <li> <a href="http://demo.emthemes.com/gala-electronues/index.php/electronics.html" shape="rect"> CG动画 </a> </li> 
             </ul> </li> 
            <!-- 3 --> 
           </ul> 
           <!-- 3 --> </li> 
          <!-- 2 --> 
          <!-- 2 --> 
          <li class="menu-item-vbox menu-item-depth-2 grid_3 omega menu-item-parent" style=""> 
           <ul class="menu-container"> 
            <li class="menu-item-text menu-item-depth-3  "> <h5> 数据库 </h5> 
             <ul> 
              <li> <a href="http://demo.emthemes.com/gala-electronues/index.php/electronics.html" shape="rect"> Oracle </a> </li> 
              <li> <a href="http://demo.emthemes.com/gala-electronues/index.php/electronics.html" shape="rect"> SQL Server </a> </li> 
              <li> <a href="http://demo.emthemes.com/gala-electronues/index.php/electronics.html" shape="rect"> MySQL </a> </li> 
             </ul> </li> 
            <!-- 3 --> 
           </ul> 
           <!-- 3 --> </li> 
          <!-- 2 --> 
          <!-- 2 --> 
          <li class="menu-item-vbox menu-item-depth-2 grid_3 omega menu-item-parent" style=""> 
           <ul class="menu-container"> 
            <li class="menu-item-text menu-item-depth-3  "> <h5> 系统运维 </h5> 
             <ul> 
              <li> <a href="http://demo.emthemes.com/gala-electronues/index.php/electronics.html" shape="rect"> Linux </a> </li> 
              <li> <a href="http://demo.emthemes.com/gala-electronues/index.php/electronics.html" shape="rect"> Vmware </a> </li> 
              <li> <a href="http://demo.emthemes.com/gala-electronues/index.php/electronics.html" shape="rect"> Windows </a> </li> 
              <li> <a href="http://demo.emthemes.com/gala-electronues/index.php/electronics.html" shape="rect"> 网络管理 </a> </li> 
              <li> <a href="http://demo.emthemes.com/gala-electronues/index.php/electronics.html" shape="rect"> Exchange </a> </li> 
             </ul> </li> 
            <!-- 3 --> 
           </ul> 
           <!-- 3 --> </li> 
          <!-- 2 --> 
          <!-- 2 --> 
          <li class="menu-item-vbox menu-item-depth-2 grid_3 omega menu-item-parent" style=""> 
           <ul class="menu-container"> 
            <li class="menu-item-text menu-item-depth-3  "> <h5> 移动互联 </h5> 
             <ul> 
              <li> <a href="http://demo.emthemes.com/gala-electronues/index.php/electronics.html" shape="rect"> Android </a> </li> 
              <li> <a href="http://demo.emthemes.com/gala-electronues/index.php/electronics.html" shape="rect"> IOS </a> </li> 
              <li> <a href="http://demo.emthemes.com/gala-electronues/index.php/electronics.html" shape="rect"> Webapp </a> </li> 
             </ul> </li> 
            <!-- 3 --> 
           </ul> 
           <!-- 3 --> </li> 
          <!-- 2 --> 
         </ul> 
         <!-- 2 --> </li> 
       </ul> 
       <!-- 1 --> </li> 
      <!-- 0 --> 
      <li class="menu-item-link menu-item-depth-0 icon8 menu-item-parent"><a href="#" class="arrow"><span>&gt;</span></a> <a href="http://demo.emthemes.com/gala-electronues/index.php/apparel/shoes.html" shape="rect"> <span><span class="icon-menu">icon</span>办公软件</span> </a> 
       <ul class="menu-container"> 
        <li class="menu-item-hbox menu-item-depth-1 grid_18 omega alpha menu-item-parent" style=""> 
         <ul class="menu-container"> 
          <li class="menu-item-vbox menu-item-depth-2 grid_3 alpha menu-item-parent" style=""> 
           <ul class="menu-container"> 
            <li class="menu-item-text menu-item-depth-3  "> <h5> 编程语言 </h5> 
             <ul> 
              <li> <a href="http://demo.emthemes.com/gala-electronues/index.php/apparel.html" shape="rect"> C/C++ </a> </li> 
              <li> <a href="http://demo.emthemes.com/gala-electronues/index.php/apparel.html" shape="rect"> JAVA </a> </li> 
              <li> <a href="http://demo.emthemes.com/gala-electronues/index.php/apparel.html" shape="rect"> Python </a> </li> 
              <li> <a href="http://demo.emthemes.com/gala-electronues/index.php/apparel.html" shape="rect"> PHP </a> </li> 
              <li> <a href="http://demo.emthemes.com/gala-electronues/index.php/apparel.html" shape="rect"> 脚本语言 </a> </li> 
              <li> <a href="http://demo.emthemes.com/gala-electronues/index.php/apparel.html" shape="rect"> Objective-C </a> </li> 
             </ul> <h5> 产品运营 </h5> 
             <ul> 
              <li> <a href="http://demo.emthemes.com/gala-electronues/index.php/apparel.html" shape="rect"> 产品设计 </a> </li> 
              <li> <a href="http://demo.emthemes.com/gala-electronues/index.php/apparel.html" shape="rect"> 网站编辑 </a> </li> 
              <li> <a href="http://demo.emthemes.com/gala-electronues/index.php/apparel.html" shape="rect"> 数据分析 </a> </li> 
              <li> <a href="http://demo.emthemes.com/gala-electronues/index.php/apparel.html" shape="rect"> 策划 </a> </li> 
             </ul> </li> 
            <!-- 3 --> 
           </ul> 
           <!-- 3 --> </li> 
          <!-- 2 --> 
          <li class="menu-item-vbox menu-item-depth-2 grid_3 menu-item-parent" style=""> 
           <ul class="menu-container"> 
            <li class="menu-item-text menu-item-depth-3  "> <h5> 常用软件 </h5> 
             <ul> 
              <li> <a href="http://demo.emthemes.com/gala-electronues/index.php/electronics.html" shape="rect"> Photoshop </a> </li> 
              <li> <a href="http://demo.emthemes.com/gala-electronues/index.php/electronics.html" shape="rect"> 3Dmax </a> </li> 
              <li> <a href="http://demo.emthemes.com/gala-electronues/index.php/electronics.html" shape="rect"> Illustrator </a> </li> 
              <li> <a href="http://demo.emthemes.com/gala-electronues/index.php/electronics.html" shape="rect"> Flash </a> </li> 
              <li> <a href="http://demo.emthemes.com/gala-electronues/index.php/electronics.html" shape="rect"> Dreamwaver </a> </li> 
              <li> <a href="http://demo.emthemes.com/gala-electronues/index.php/electronics.html" shape="rect"> Maya </a> </li> 
              <li> <a href="http://demo.emthemes.com/gala-electronues/index.php/electronics.html" shape="rect"> Axure </a> </li> 
             </ul> <h5> 其他 </h5> 
             <ul> 
              <li> <a href="http://demo.emthemes.com/gala-electronues/index.php/apparel.html" shape="rect"> 网络安全 </a> </li> 
              <li> <a href="http://demo.emthemes.com/gala-electronues/index.php/apparel.html" shape="rect"> 嵌入式培训 </a> </li> 
              <li> <a href="http://demo.emthemes.com/gala-electronues/index.php/apparel.html" shape="rect"> 移动通信 </a> </li> 
              <li> <a href="http://demo.emthemes.com/gala-electronues/index.php/apparel.html" shape="rect"> 云计算 </a> </li> 
              <li> <a href="http://demo.emthemes.com/gala-electronues/index.php/apparel.html" shape="rect"> 系统架构 </a> </li> 
             </ul> </li> 
            <!-- 3 --> 
           </ul> 
           <!-- 3 --> </li> 
          <!-- 2 --> 
          <li class="menu-item-vbox menu-item-depth-2 grid_3 omega menu-item-parent" style=""> 
           <ul class="menu-container"> 
            <li class="menu-item-text menu-item-depth-3  "> <h5> 设计制作 </h5> 
             <ul> 
              <li> <a href="http://demo.emthemes.com/gala-electronues/index.php/electronics.html" shape="rect"> 平面设计 </a> </li> 
              <li> <a href="http://demo.emthemes.com/gala-electronues/index.php/electronics.html" shape="rect"> 网站制作 </a> </li> 
              <li> <a href="http://demo.emthemes.com/gala-electronues/index.php/electronics.html" shape="rect"> 页面设计 </a> </li> 
              <li> <a href="http://demo.emthemes.com/gala-electronues/index.php/electronics.html" shape="rect"> 三维设计 </a> </li> 
              <li> <a href="http://demo.emthemes.com/gala-electronues/index.php/electronics.html" shape="rect"> CG动画 </a> </li> 
             </ul> </li> 
            <!-- 3 --> 
           </ul> 
           <!-- 3 --> </li> 
          <!-- 2 --> 
          <!-- 2 --> 
          <li class="menu-item-vbox menu-item-depth-2 grid_3 omega menu-item-parent" style=""> 
           <ul class="menu-container"> 
            <li class="menu-item-text menu-item-depth-3  "> <h5> 数据库 </h5> 
             <ul> 
              <li> <a href="http://demo.emthemes.com/gala-electronues/index.php/electronics.html" shape="rect"> Oracle </a> </li> 
              <li> <a href="http://demo.emthemes.com/gala-electronues/index.php/electronics.html" shape="rect"> SQL Server </a> </li> 
              <li> <a href="http://demo.emthemes.com/gala-electronues/index.php/electronics.html" shape="rect"> MySQL </a> </li> 
             </ul> </li> 
            <!-- 3 --> 
           </ul> 
           <!-- 3 --> </li> 
          <!-- 2 --> 
          <!-- 2 --> 
          <li class="menu-item-vbox menu-item-depth-2 grid_3 omega menu-item-parent" style=""> 
           <ul class="menu-container"> 
            <li class="menu-item-text menu-item-depth-3  "> <h5> 系统运维 </h5> 
             <ul> 
              <li> <a href="http://demo.emthemes.com/gala-electronues/index.php/electronics.html" shape="rect"> Linux </a> </li> 
              <li> <a href="http://demo.emthemes.com/gala-electronues/index.php/electronics.html" shape="rect"> Vmware </a> </li> 
              <li> <a href="http://demo.emthemes.com/gala-electronues/index.php/electronics.html" shape="rect"> Windows </a> </li> 
              <li> <a href="http://demo.emthemes.com/gala-electronues/index.php/electronics.html" shape="rect"> 网络管理 </a> </li> 
              <li> <a href="http://demo.emthemes.com/gala-electronues/index.php/electronics.html" shape="rect"> Exchange </a> </li> 
             </ul> </li> 
            <!-- 3 --> 
           </ul> 
           <!-- 3 --> </li> 
          <!-- 2 --> 
          <!-- 2 --> 
          <li class="menu-item-vbox menu-item-depth-2 grid_3 omega menu-item-parent" style=""> 
           <ul class="menu-container"> 
            <li class="menu-item-text menu-item-depth-3  "> <h5> 移动互联 </h5> 
             <ul> 
              <li> <a href="http://demo.emthemes.com/gala-electronues/index.php/electronics.html" shape="rect"> Android </a> </li> 
              <li> <a href="http://demo.emthemes.com/gala-electronues/index.php/electronics.html" shape="rect"> IOS </a> </li> 
              <li> <a href="http://demo.emthemes.com/gala-electronues/index.php/electronics.html" shape="rect"> Webapp </a> </li> 
             </ul> </li> 
            <!-- 3 --> 
           </ul> 
           <!-- 3 --> </li> 
          <!-- 2 --> 
         </ul> 
         <!-- 2 --> </li> 
       </ul> 
       <!-- 1 --> </li>
      <!-- 0 --> 
     </ul> 
    </div> 
   </div> 
  </div>
