 <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <div class="container_24 "> 
   <div class="grid_24"> 
    <div class="widget widget-static-block footer-text"> 
     <!--  	
    	    	<h6>Store Directories</h6>
<p>&nbsp; I&nbsp;<a href="#">Suspendisse</a>&nbsp; I&nbsp; <a href="#">Vivamus interdum</a>&nbsp; I&nbsp; <a href="#">Nulla rutrum</a>&nbsp; I&nbsp; <a href="#">Etiam vitae</a>&nbsp; I&nbsp;&nbsp; <a href="#">Donec non</a>&nbsp; I&nbsp; <a href="#">Mauris mauris</a>&nbsp; I&nbsp; <a href="#">Vivamus nec</a>&nbsp; I&nbsp; <a href="#">Morbi sit</a>&nbsp; I&nbsp; <a href="#">Cum sociis</a>&nbsp; I&nbsp; <a href="#">Aliquam eget</a>&nbsp; I&nbsp; <a href="#">Duis molestie adipisci</a>
</p>   --> 
    </div> 
   </div> 
   <div class="grid_16 footer-left"> 
    <div class="widget widget-static-block footer-information"> 
     <div class="footer-row2-area"> 
      <div class="grid_4 hide-lte0 alpha"> 
       <p class="h5">帮助</p> 
       <ul> 
        <li><a href="#">Vestibulum antepsum</a></li> 
        <li><a href="#">Primisin Faucibusorci</a></li> 
        <li><a href="#">Luctusultrices posuere</a></li> 
        <li><a href="#">Cubiliacurae nunceros</a></li> 
        <li><a href="#">Augue pharetra vitae</a></li> 
       </ul> 
      </div> 
      <div class="grid_4 hide-lte0"> 
       <p class="h5">哈哈哈哈</p> 
       <ul> 
        <li><a href="#">Fuscenulla malesuada</a></li> 
        <li><a href="#">Ut euismod pulvinar</a></li> 
        <li><a href="#">Tincidunt viverratortor</a></li> 
        <li><a href="#">Namelitdiam volutpat</a></li> 
        <li><a href="#">Eu iaculis laoreetet </a></li> 
       </ul> 
      </div> 
      <div class="grid_4"> 
       <p class="h5">客户服务</p> 
       <ul> 
        <li><a href="http://demo.emthemes.com/gala-electronues/index.php/contacts">Contact us</a></li> 
        <li><a href="#">Donec pretiummi</a></li> 
        <li><a href="#">Augue eleifend iaculis</a></li> 
        <li><a href="#">Quisque consequat</a></li> 
        <li><a href="#">Ultricies duiat feugiat</a></li> 
       </ul> 
      </div> 
      <div class="grid_4 omega"> 
       <p class="h5">关于我们</p> 
       <ul> 
        <li><a href="#">OProin vel orci sem</a></li> 
        <li><a href="#">Vitae aliquam eros</a></li> 
        <li><a href="#">Donec arcu quam</a></li> 
        <li><a href="#">Tincidunt nec ornare</a></li> 
        <li><a href="#">Vitae posuere eu velit</a></li> 
       </ul> 
      </div> 
     </div> 
    </div> 
    <div class="widget widget-static-block newsletter"> 
     <div>
      <div class="block block-subscribe"> 
       <div class="block-title"> 
        <strong><span>Newsletter</span></strong> 
       </div> 
       <form action="http://demo.emthemes.com/gala-electronues/index.php/newsletter/subscriber/new/" method="post" id="newsletter-validate-detail"> 
        <div class="block-content"> 
         <div class="form-subscribe-header"> 
          <label for="newsletter">搜索课程</label> 
         </div> 
         <div class="form-subscribe-content"> 
          <div class="input-box"> 
           <input type="text" name="email" id="newsletter" title="Sign up for our newsletter" class="input-text required-entry validate-email" /> 
          </div> 
          <div class="actions"> 
           <button type="submit" title="Subscribe" class="button"><span><span>搜索</span></span></button> 
          </div> 
         </div> 
        </div> 
       </form> 
       <script type="text/javascript">
    //<![CDATA[
        var searchForm = new Varien.searchForm('newsletter-validate-detail', 'newsletter', '输入课程名称 ...'); 
        var newsletterSubscriberFormDetail = new VarienForm('newsletter-validate-detail');
    //]]>
    </script> 
      </div> 
     </div> 
    </div>
   </div>
   <div class="grid_8 omega">
    <div class="widget widget-static-block footer-right"> 
     <div class="banner-friend"> 
      <div class="footer-row1-area">
       <a title="Gala Electronues Magento Themes" href="#"> <img class="fluid" title="Gala Electronues Magento Themes" src="http://demo.emthemes.com/gala-electronues/skin/frontend/default/galaelectronues/images/media/wysiwyg/img4.png" alt="banner-footer" /> </a>
      </div> 
      <div class="footer-row2-area"> 
       <p class="h5">Let's be friends</p> 
       <ul> 
        <li><a href="http://www.facebook.com/"><span class="icon facebook">Find us on Facebook</span>Find us on Facebook</a></li> 
        <li><a href="http://google.com"><span class="icon googleplus">Google</span>Google</a></li> 
        <li><a href="#"><span class="icon rss">RSS Feed</span>RSS Feed</a></li> 
       </ul> 
       <ul> 
        <li><a href="http://twitter.com/home"><span class="icon twitter">Fllow us on Twitter</span>Fllow us on Twitter</a></li> 
        <li><a href="http://www.flickr.com/"><span class="icon flickr">Flick</span>Flick</a></li> 
        <li><a href="http://vimeo.com/"><span class="icon vimeo">Vimeo</span>Vimeo</a></li> 
       </ul> 
      </div> 
     </div> 
    </div>
   </div>
   <div class="clear"></div>
  </div>
  <div class="container_24 container-footer">
   <div class="footer-inner grid_24">
    <div class="grid_16 alpha">
     <div class="footer-container"> 
      <div class="footer"> 
       <ul> 
        <li><a href="http://demo.emthemes.com/gala-electronues/index.php/about-magento-demo-store" shape="rect">关于我们</a></li> 
        <li><a href="http://demo.emthemes.com/gala-electronues/index.php/customer-service" shape="rect">客户服务</a></li> 
        <li class="last privacy"><a href="http://demo.emthemes.com/gala-electronues/index.php/privacy-policy-cookie-restriction-mode" shape="rect">隐私政策</a></li> 
       </ul>
       <ul class="links"> 
        <li class="first"> <a href="contacts" title="Contact Us" shape="rect">用户体验计划</a> </li> 
        <li> <a href="http://demo.emthemes.com/gala-electronues/index.php/catalog/seo_sitemap/category/" title="Site Map" shape="rect">网站地图</a> </li> 
        <li> <a href="http://demo.emthemes.com/gala-electronues/index.php/catalogsearch/term/popular/" title="Search Terms" shape="rect">搜索条目</a> </li> 
        <li> <a href="http://demo.emthemes.com/gala-electronues/index.php/catalogsearch/advanced/" title="Advanced Search" shape="rect">高级搜索</a> </li> 
        <li class=" last"><a href="http://demo.emthemes.com/gala-electronues/index.php/sales/guest/form/" title="Orders and Returns" shape="rect">订单和收益</a></li> 
       </ul> 
       <p> </p>
       <address>京ICP证xxxx号 Copyright &copy; 2014 &nbsp;xxxx网 &nbsp;</address> 
       <!--  -->
       <a href="http://galathemes.com/" title="Magento Templates &amp; Magento Templates" shape="rect">xxxx.com </a> 由 
       <a href="http://galathemes.com/magento-themes.html" title="Premium Magento Templates &amp; Premium Magento Templates" shape="rect">奔往牛逼的两个人制作</a> 
       <p></p> 
      </div> 
     </div>
    </div>
    <div class="grid_8 omega">
     <div class="widget widget-static-block payment"> 
      <p><a href="#" shape="rect"><span class="brand-logo paypal">paypal</span></a> <a href="#" shape="rect"><span class="brand-logo visa">visa</span></a> <a href="#" shape="rect"><span class="brand-logo express">express</span></a> <a href="#" shape="rect"><span class="brand-logo master">master</span></a> <a href="#" shape="rect"><span class="brand-logo skrill">skrill</span></a></p> 
     </div>
    </div>
    <div class="clear"></div>
   </div>
  </div>
