  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
  <div class="container-header">
   <div class="container_24 ">
    <div class="grid_24">
     <div class="header-container"> 
      <div class="header"> 
       <h1 class="logo"><strong>Gala Electronues</strong><a href="http://demo.emthemes.com/gala-electronues/index.php/" title="Gala Electronues" class="logo" style="color:#fff;" shape="rect"> 
         <!-- <img src="http://demo.emthemes.com/gala-electronues/skin/frontend/default/galaelectronues/images/logo.png" alt="Gala Electronues" /> --> 尼玛我也不知道叫啥反正是个logo </a> </h1> 
       <div class="quick-access"> 
        <div class="currency"> 
         <div class="block block-currency"> 
          <span class="title-currency">Currencies</span> 
          <div class="block-content"> 
           <ul> 
            <li class="first"> <a href="http://demo.emthemes.com/gala-electronues/index.php/directory/currency/switch/currency/EUR/uenc/aHR0cDovL2RlbW8uZW10aGVtZXMuY29tOjgwMDAvZ2FsYS1lbGVjdHJvbnVlcy8,/" style="background-image:url(http://demo.emthemes.com/gala-electronues/skin/frontend/default/galaelectronues/images/currency/eur.png); background-repeat: no-repeat;" title="Euro" shape="rect">EUR</a> </li> 
            <li class=""> <a href="http://demo.emthemes.com/gala-electronues/index.php/directory/currency/switch/currency/HKD/uenc/aHR0cDovL2RlbW8uZW10aGVtZXMuY29tOjgwMDAvZ2FsYS1lbGVjdHJvbnVlcy8,/" style="background-image:url(http://demo.emthemes.com/gala-electronues/skin/frontend/default/galaelectronues/images/currency/hkd.png); background-repeat: no-repeat;" title="Hong Kong Dollar" shape="rect">HKD</a> </li> 
            <li class="selected last"> <a href="http://demo.emthemes.com/gala-electronues/index.php/directory/currency/switch/currency/USD/uenc/aHR0cDovL2RlbW8uZW10aGVtZXMuY29tOjgwMDAvZ2FsYS1lbGVjdHJvbnVlcy8,/" style="background-image:url(http://demo.emthemes.com/gala-electronues/skin/frontend/default/galaelectronues/images/currency/usd.png); background-repeat: no-repeat;" title="US Dollar" shape="rect">USD</a> </li> 
           </ul> 
          </div> 
          <script type="text/javascript" xml:space="preserve">decorateGeneric($$('.block-currency .block-content ul li'), ['first','last'])</script> 
         </div> 
        </div> 
        <ul class="links"> 
         <li class="first"> <a href="http://demo.emthemes.com/gala-electronues/index.php/customer/account/" title="My Account" shape="rect">成为一个授课者</a> </li> 
         <li><a href="http://demo.emthemes.com/gala-electronues/index.php/wishlist/" title="My Wishlist" shape="rect">我的课程</a></li> 
         <li> <a id="login-link" href="http://demo.emthemes.com/gala-electronues/index.php/customer/account/login/" title="Log In" shape="rect">登陆</a> 
          <div id="login-form-header" class="form-login" style="display:none;"> 
           <form action="http://demo.emthemes.com/gala-electronues/index.php/customer/account/loginPost/" method="post" enctype="application/x-www-form-urlencoded"> 
            <input name="form_key" type="hidden" value="xHPWdSGqBCpUYchx" /> 
            <div class="top-login"> 
             <label for="mini-login">账户名<span><sup>*</sup></span></label>
             <input type="text" name="login[username]" id="mini-login" class="input-text autocompleteOff" /> 
             <label for="mini-password">密码<span><sup>*</sup></span></label>
             <input type="password" name="login[password]" id="mini-password" class="input-text autocompleteOff" /> 
             <div class="login_forgotpassword"> 
              <a href="http://demo.emthemes.com/gala-electronues/index.php/customer/account/forgotpassword/" class="f-left" shape="rect">忘记密码?</a> 
              <p>还没有账号？ <a title="Sign Up" href="http://demo.emthemes.com/gala-electronues/index.php/customer/account/create" shape="rect">注册</a></p> 
             </div> 
             <div class="actions"> 
              <button type="submit" class="button"><span><span>登陆</span></span></button> 
             </div> 
            </div> 
           </form> 
          </div> </li> 
         <li class=" last"> <a href="http://demo.emthemes.com/gala-electronues/index.php/customer/account/create/" title="Sign Up" shape="rect">注册</a> </li> 
        </ul> 
        <p class="welcome-msg hide-lte0 hide-lte1">欢迎你军哥! </p> 
       </div> 
       <div class="top-container">
        <div class="widget widget-static-block "> 
         <div class="text_top hide-lte0 hide-lte1">
          Support 24/7 1800 - 123xxxx 
          <a href="http://galathemes.com/" shape="rect">GalaThemes</a>
         </div> 
        </div>
       </div> 
      </div> 
     </div> 
     <p id="back-top" style="display: none;"><a href="#top" shape="rect">Back to Top</a></p>
    </div>
    <div class="grid_24 grid_search">
     <div class="dropdown-cart no_quickshop"> 
      <div class="dropdown-cart-content"> 
       <div class="dropdown-cart-content-top"> 
        <span class="icon cart">icon</span> 
        <div class="block block-cart-top"> 
         <div class="block-content"> 
          <div class="summary"> 
           <p class="empty"><a href="http://demo.emthemes.com/gala-electronues/index.php/checkout/cart/" shape="rect">My Cart (0)</a></p> 
          </div> 
          <div class="cart-popup" style="display: none;"> 
           <div class="cart-popup-content"> 
            <p class="block-subtitle"> You have no items in your shopping cart. </p> 
            <script type="text/javascript" xml:space="preserve">//<![CDATA[
							jQuery(function($) {
								// hide dropdown cart when click on icon cart (mobile only)
								if( /Android|webOS|iPhone|iPad|iPod|BlackBerry/i.test(navigator.userAgent) ) {
									$('.dropdown-cart').unbind('click');
									$('.dropdown-cart').click(function () {
										$('.cart-popup').slideToggle();
									});
								} else {
									var tm;
									function show(el) {
										clearTimeout(tm);
										tm = setTimeout(function() {
											el.slideDown();
										}, 200);
									}
									function hide(el) {
										clearTimeout(tm);
										tm = setTimeout(function() {
											el.slideUp();
										}, 200);
									}
									$('.dropdown-cart')
										.bind('mouseenter', show.curry($('.cart-popup', this)))
										.bind('mouseleave', hide.curry($('.cart-popup', this)))
										.find('.cart-popup').slideUp();
								}
							});
						//]]>
						</script> 
           </div> 
          </div> 
         </div> 
        </div> 
       </div> 
      </div> 
     </div>
     <form id="search_mini_form" action="/search" method="get" enctype="application/x-www-form-urlencoded"> 
      <div class="form-search"> 
       <label for="search">搜索:</label> 
       <div class="input_search"> 
        <input id="search" type="text" name="q" value="" class="input-text" maxlength="128" autocomplete="off" /> 
        <button type="submit" title="搜索" class="button"><span><span>搜索</span></span></button> 
        <div id="search_autocomplete" class="search-autocomplete" style="display: none;"></div> 
        <script type="text/javascript" xml:space="preserve">
        //<![CDATA[
            var searchForm = new Varien.searchForm('search_mini_form', 'search', '');
            searchForm.initAutocomplete('http://demo.emthemes.com/gala-electronues/index.php/catalogsearch/ajax/suggest/', 'search_autocomplete');
        //]]>
        </script> 
       </div> 
    	<blc:categories resultVar="navCategories" parentCategory="Primary Nav" maxResults="60" />
       <div class="input_cat"> 
       	
        <select name="cat" class="cat-search .input_cat" style="display: none;"> 
        	<option value="0">—– 所有分类</option>
        		<option th:each="category : ${navCategories}" th:unless="${#strings.isEmpty(category.url)}" value="@{${category.url}}"  th:text="${category.name}"></option>
        	</select>
       </div> 
      </div> 
     </form>
    </div>
    <div class="clear"></div>
   </div>
  </div>
